/* --- CONFIGURACIÓN MODULAR --- */
/* Importamos el archivo que el script sobreescribirá */
@import "current_theme.css";
* {
    font-family: 'JetBrainsMono Nerd Font Propo', sans-serif;
    font-size: 10px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* --- MÓDULOS REUTILIZANDO VARIABLES --- */

#workspaces {
    border-radius: 6px;
    background: @background;
    color: @foreground;
    font-weight: normal;
}

#workspaces button {
    border-radius: 5px;
    background: @background;
    color: @foreground;
    transition: all 0.1s ease-in-out;
}

#workspaces button.active {
    background: @foreground;
    color: @background;
    border-radius: 5px;
    min-width: 30px;
    font-size: 20px; 
}

#workspaces button:hover {
    background: @foreground;
    color: @background;
}

/* Estilo unificado para módulos de la derecha */
#custom-vpn, #battery, #clock, #bluetooth, #network, #pulseaudio, #tray, #mpris, #custom-logo, #custom-notification {
    padding: 0 15px;
    border-radius: 5px;
    background-color: @background;
    color: @foreground;
    margin: 0 3px; /* Espaciado entre bloques */
}

/* Efectos Hover unificados */
#custom-vpn:hover, #battery:hover, #clock:hover, #bluetooth:hover, #network:hover, #pulseaudio:hover, #custom-logo:hover, #custom-notification:hover {
    background-color: @foreground;
    color: @background;
}

/* Estados de Alerta (Network/Audio desconectado o muteado) */
#network.disconnected, #pulseaudio.muted {
    background-color: @alert;
    color: @alerttxt;
    border: 2px solid @foreground;
}

/* Cambios especificos modulos */
#clock {
    font-size: medium;
}

/* Tray y otros */
#tray {
    margin-right: 5px;
}
#pulseaudio {
    font-size: small;
}

#custom-logo {
    margin-left: 3px;
}

#custom-vpn {
}

#custom-vpn.connected {
    animation: pulse 3s infinite; /* Un pequeño efecto de pulso */
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(109, 74, 255, 0.4); }
    70% { box-shadow: 0 0 0 6px rgba(109, 74, 255, 0); }
    100% { box-shadow: 0 0 0 0 rgba(109, 74, 255, 0); }
}
