* {
    on-surface: #d3c6aa;          /* fg */
    on-primary: #2d353b;          /* bg_dim */
    outline: #a7c080;             /* green */
    outline-variant: #475258;     /* bg_visual */
    primary: #a7c080;             /* blue */
    on-primary-container: #a7c080;
    surface-container-high: #3d484d;
    error: #e67e80;
    error-container: #e67e80;
    on-error-container: #2d353b;
}
