* {
    on-surface: #ffffff;          /* text */
    on-primary: #141414;          /* base */
    outline: #ebd081;             /* mauve */
    outline-variant: #585b70;     /* surface2 */
    primary: #ebd081;             /* blue */
    on-primary-container: #ebd081;
    surface-container-high: #313244;
    error: #f38ba8;
    error-container: #eba0ac;
    on-error-container: #11111b;
}
